@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400;700&display=swap'); /* Added Pakistani-style font */

body {
    font-family: "Parkinsans", sans-serif;
}

.header_bg {
    background-color: rgb(247, 247, 247) !important;
    color: #4a342c !important;
}

.header_bg1{
    background-color: black !important;
}

.margin-class {
    padding-left: 200px;
}

.hamburger {
    background-color: white;
}

.property_offcanvas{
    background-color: #80544cf0;
    color: white;
}

.nav-button{
    padding: 10px 30px ;
    border: 1px solid white;
    color: white;
    font-size: 16px;
   background-color:  #4a342c;
}

.nav-link, .navbar-nav .nav-link.active{
    color: white;
}
.nav-button:hover{
    background-color: white;
    color: black;
}
.bg-brown {
    height: 100vh;
    display: flex;
    align-items:center;
    background-color:  #4a342c;
}

.home_image {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    object-fit: cover;
    height: 450px;
    width: 450px;
}

.subtitle {
    line-height: 1.5;
    font-size: 18px;
    padding-bottom: 20px;
    font-weight: 400;
    font-family: "Parkinsans", sans-serif;
}

.home_para{
    line-height: 1.7;
}

.Riddhi {
    color: rgb(255, 136, 136);
  
}

.home-button{
    padding: 10px 30px;
    font-size: 14px;
    line-height: 1.5;
    text-decoration: none;
    color: white;
    box-shadow: 6px 6px 0 -1px white;
    border-radius: 5%;

}

.home-button:hover{
    color: white;
    background-color: black;
    box-shadow: 5px 5px 0 -2px white;

} 

@media (max-width: 900px) {

    .margin-class {
        padding-left: 0px;
    }
}



@media (max-width: 770px) {

    .margin-class {
        padding-left: 0px;
    }

    .property_offcanvas{
        width: auto !important;
    }
    .home_image {
        height: 270px;
        width: 270px;
    }
    .home_h1 {
        font-size: 30px;
    }

    .home_para{
        font-size: 13px;
    }
    .row {
        text-align: center;
    }

    

    .bg-brown {
        padding-bottom: 30px;
        height: auto;
        align-items: start;
        padding-top: 20px;
    }
}




/*About me Section*/


.about_bg{
    /* height: 100vh; */
    display: flex;
    align-items:center;
}

.about_div{
    padding-right: 60px;
    padding-left: 50px;
}
.about_image{
    border: 2px solid rgb(255, 255, 255);
    object-fit: cover;
    height: 450px;
    width: 450px;

}

.home_h1_about {
    font-size: 45px;
    font-weight: 550;
    color: #4a342c;
    font-family: "Noto Nastaliq Urdu", serif; 
}

.about_para{
line-height: 1.7;
padding-top:35px;
}

@media (max-width: 770px) {
    .about_div{
        padding: 20px;
        order: -1;
    }
    .about_image{
        height: 200px;
        width: 200px;
        border: 2px solid black;
        border-radius: 50%;
        padding: 20px;
    }
    .home_h1_about{
        font-size: 35px;   
    }
    .about_bg{
        padding-bottom: 30px;
        height: auto;
        align-items: start;
        padding-top: 20px;
    }
}

/*services section*/

.home_h1_services{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg_services{
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgb(74, 52, 44);
    color: white;
}

.services-button{
    padding: 10px 30px;
    font-size: 14px;
    line-height: 1.5;
    text-decoration: none;
    color: brown;
    box-shadow: 6px 6px 0 -1px white;
    border-radius: 5%;
}

.services-button:hover{
color: white;
background-color: black;
box-shadow: 5px 5px 0 -2px white;
}


.div_of_cards{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.icons{
    font-size: 30px; 
    border-color: black !important; 
    border-radius:10%;
}



@media (max-width: 770px) {
    .home_h1_services{
        font-size: 20px;
    }

    .bg_services{
        height: auto;
    }

    .skill-heading{
        font-size: 14px !important;
    }
}